@charset "utf-8";
/**********************************************************   reset   **************************************************************************************************/


.diziaSlider-wrap{width:100%;height:493px;overflow:hidden;position:relative;}
.diziaSlider{position:absolute;top:0;height:493px;width:auto;}
.diziaSlider:after{content:"";display:block;clear:both;}
.diziaSlider li{float:left;height:493px;text-align:center}
.diziaSlider li img{display:block;width:100%;height:100%;}


.paging{position:absolute;width:100%;text-align:center;bottom:40px;}
.paging a{display:inline-block;line-height:20px;width:20px;height:20px;border:1px solid #333;text-align:center;margin:0 3px;border-radius:20px;}
.btn a{position:absolute;top:50%;margin-top:-20px;display:block;width:40px;height:40px;border:1px solid #000;text-align:center;line-height:40px;}
.paging a.on{background:#fc0;}
.dizia-prev{left:0;}
.dizia-next{right:0;}



